body {
    padding: 0;
    margin: 0;
}


body > header {
    background-color: #f76565;
    padding: 10px;
}

.logo {
    max-width: 100%;
    height: auto;
}

body > header > nav > ul {
    list-style: none;
}

body > header > nav > ul >li {
    display:inline;
    font-size: 20px;
    margin-right: 20px;
}

a {
    color:white;
}

.content {
    margin: 30px;
}

.welcome {
    text-align: center;
}

.content p {
    font-size: 20px;
}

.button {
    display: flex;
    justify-content: center;
   
}

.button a {
    background: #f76565;
    color: white;
    border: none;
    text-align: center;
    font-size: 29px;
    padding: 5px 5px;
    display: inline;
    margin-right: 20px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f76565;
    padding: 20px;
}

