<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <img class=logo src="../static/css/logo.png" alt="logo">
        <nav>
            <ul>
                <li class="navLink"><a href="/">Home</a></li>
                <li class="navLink"><a href="/rules">Rules</a></li>
                </ul>
        </nav>
    </header>
    <main>
        <div class="content">
        

            {% block content %}{% endblock %}
        </div>
    </main>
    <footer class="footer"></footer>
</body>
</html>