{% extends "base.html" %}
{% block content %}

<div class="welcome">
    <h2>Welcome to Rock Paper Scissors!</h2>
    <p>This is an online version of the classic game where you have the option to play against a friend or challenge the computer.</p>
    <br>
    <p>If you want to look over the rules then click the link in the header.</p>
</div>
<br>
<br>
<br>
<div class="button">
    <a href="/play">Play Against Computer</a>
    <a href="/play2">Play Against A Friend</a>
</div>
<br>
<br>
<br>



{% endblock %}
    
