<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Results</title>
</head>
<body>
    <h2>Rock Paper Scissors</h2>
    <p>Player 1 chose:{{ player1.choice }}</p>
    <p>Player 2 chose:{{ player2.choice }}</p>
    <p>The result is:{{ result }}</p>
    <!-- <form action="/player_1_choice/player_2_choice" method="post">
        <h3>Please enter your name and your choice.</h3>
        <label for="player1">Player 1:</label>
        <input type="text" name="player1" id="player1">
        <label for="player_1_choice">Your Choice:</label>
        <input type="text" name="player_1_choice" id="player_1_choice">
        <label for="player2">Player 2:</label>
        <input type="text" name="player2" id="player2">
        <label for="player_2_choice">Your Choice:</label>
        <input type="text" name="player_2_choice" id="player_2_choice">
        <!-- <input type="submit" value="Play"> -->
        
    <!-- </form> --> 
</body>
</html>