{% extends "base.html" %}
{% block content %}

<h2><u>Game Rules</u></h2>
<br>
<p>Each player chooses 1 of the following:</p>
<ul>
    <li>rock</li>
    <li>paper</li>
    <li>scissors</li>
</ul>
<br>
<p>You can win by one of these methods:</p>
<ul>
    <li>rock <b>smashes</b> scissors</li>
    <li>scissors <b>cut</b> paper</li>
    <li>paper <b>covers</b> rock</li>
</ul>
<br>
<p>If both players choose the same item then it will be a draw.</p>
<p>Good luck and have fun!!</p>
<br>
<br>
<br>
</div>

{% endblock %}


